<div class="card">
    <a *ngIf="project.image" href="#">
        <div class="card__image-container">
            <img class="card__image" src="{{project.image}}" alt="{{project.description}}">
        </div>
    </a>
    <div class="card__content mt-1">
        <h1 class="card__title">{{project.title}}</h1>
        <p>{{project.description}}</p>
        <span *ngFor="let tech of project.tech" class="badge badge-pill badge-light ml-2 mt-1">{{tech}}</span>
        <div class="text-center mt-3" *ngIf="project.status === 'active'; else isInactive">
            <span class="badge badge-success p-2">Activo</span>
        </div>
        <ng-template class="text-center mt-3" #isInactive>
            <div class="text-center mt-3">
                <span class="badge badge-warning p-2">Inactivo</span>
            </div>
        </ng-template>
    </div>
</div>
