<div class="card">
    <a href="#">
        <div class="card__image-container">
            <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
        </div>
        <svg class="card__svg" viewBox="0 0 800 500">
        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>
    </a>
    <div class="card__content">
        <h1 class="card__title">{{project.title}}</h1>
        <p>{{project.description}}</p>
        <span *ngFor="let tech of project.tech" class="badge badge-pill badge-light ml-2 mt-1">{{tech}}</span>
        <div class="text-center mt-3" *ngIf="project.status === 'active'; else isInactive">
            <span class="badge badge-success p-2">Activo</span>
        </div>
        <ng-template class="text-center mt-3" #isInactive>
            <div class="text-center mt-3">
                <span class="badge badge-warning p-2">Inactivo</span>
            </div>
        </ng-template>
    </div>
</div>