<app-navbar (changeLanguageEvent)="changeLanguage($event)"></app-navbar>
<section class="w-100 h-100">
    <div style="text-align: center;" class="header">
        <app-typewriter-list [textList]="textList" [speed]="100" [fontWeight]="'lighter'" [fontSize]="'37px'" [fontColor]="'black'" [languageEvent]="languageSubject.asObservable()"></app-typewriter-list>
        <app-typewriter [speed]="100" [fontWeight]="'lighter'" [fontSize]="'37px'" [fontColor]="'black'" [languageEvent]="languageSubject.asObservable()" [text]="textHello"></app-typewriter><br>
        <app-typewriter [speed]="100" [fontWeight]="'bolder'" [fontSize]="'37px'" [fontColor]="'black'" [languageEvent]="languageSubject.asObservable()" [text]="textIam"></app-typewriter><br>
        <app-typewriter [speed]="100" [fontWeight]="'lighter'" [fontSize]="'37px'" [fontColor]="'black'" [languageEvent]="languageSubject.asObservable()" [text]="textThis"></app-typewriter>
    </div>
</section>